# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-workspace

# Angular
.angular/
dist/
out-tsc/
bazel-out/
/client/.angular/cache
/client/coverage
/client/testem.log

# Logs
npm-debug.log
yarn-error.log
