<nav class="navbar">
  <div class="logo">CS Marketplace</div>
  <div class="links">
    <a routerLink="/market">Market</a>
    <ng-container *ngIf="user; else guest">
      <a routerLink="/inventory">Inventory</a>
      <span class="balance">Balance: ${{ user.balance | number:'1.2-2' }}</span>
      <span class="username">{{ user.username }}</span>
      <button (click)="logout()">Logout</button>
    </ng-container>
    <ng-template #guest>
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </ng-template>
  </div>
</nav>
